$tag-background-color: #f4f4f4 !default;
$tag-border-radius: 8rpx !default;
$tag-padding: 4rpx 8rpx !default;

$tag-block-background-color: rgba(59, 69, 239, 0.06) !default;
$tag-block-text-color: #3b45ef !default;
$tag-block-padding: 4rpx 0 !default;

$tag-icon-margin: 6rpx !default;